body {
  padding-top: 60px;
  background-color: #303030;
  color: #eeeeee;
}

.jumbotron {
  background-color: black;
  color: #cccccc;
}

.jumbotron a {
  color:#f3f3f3;
}

.carousel-inner img {
  margin: auto;
}

footer {
  background-color: #101010;
  color: #e2e2e2;
  padding: 25px;
}

footer a {
  color: #e2e2e2;
}

footer a:hover {
  color: white;
}

.navbar {
  background-color: #101010;
  color: #e2e2e2;
}

.panel {
  background-color: #202020;
  border-color: #202020;
}

.jumbotron .panel {
  background-color: #202020;
}

.jumbotron .collapse p {
  color: #aaaaaa;
}

.jumbotron .collapse .col-sm-1 img {
  width: max-content;
  height: auto;
}

.jumbotron .panel-heading {
  background-color: #171717;
}

.jumbotron .panel-heading:hover {
  color: white;
  background-color: #101010;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel a {
  color: #f2f2f2;
}

.panel a:hover {
  color: white;
  text-decoration-color: white;
  -moz-text-decoration-color: white;
}

.itch {
  background-color: #fa5c5c;
}

.itch:hover {
  background-color: #af3e3e;
  color: #f2f2f2;
  text-decoration: none;
}

.gitlab {
  background-color: #fc6d27;
}

.gitlab:hover {
  background-color: #c7551c;
  color: #f2f2f2;
  text-decoration: none;
}

.github {
  background-color: #4183c4;
}

.github:hover {
  background-color: #2b5681;
  color: #f2f2f2;
  text-decoration: none;
}