body {
  padding-top: 60px;
  background-color: #303030;
  color: #eeeeee;
}

.jumbotron {
  background-color: black;
  color: #f2f2f2;
}

.carousel-inner img {
  margin: auto;
}

footer {
  background-color: #101010;
  color: #e2e2e2;
  padding: 25px;
}

.navbar {
  background-color: #101010;
  color: #e2e2e2;
}

.panel {
  background-color: #202020;
  border-color: #202020;
}

.jumbotron .panel {
  background-color: #202020;
}

.jumbotron .panel-heading {
  background-color: #171717;
}

.jumbotron .panel-heading:hover {
  color: white;
  background-color: #101010;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel a p {
  color: #f2f2f2;
}

.panel a:hover {
  color: white;
  text-decoration-color: white;
  -moz-text-decoration-color: white;
}